.controller-projects.action-index h3.section,
.controller-sections.action-index h3.section,
.controller-projects.action-index h4.section,
.controller-sections.action-index h4.section,
.controller-projects.action-index h5.section,
.controller-sections.action-index h5.section,
.controller-projects.action-index h6.section,
.controller-sections.action-index h6.section {
    font-family: Georgia, Arial;
    font-weight: normal;
    clear: both;
}
.controller-projects.action-index h3.section,
.controller-sections.action-index h3.section {
    font-size: 15pt;
}
.controller-projects.action-index h4.section,
.controller-sections.action-index h4.section {
    font-size: 14pt;
}
.controller-projects.action-index h5.section,
.controller-sections.action-index h5.section {
    font-size: 13pt;
}
.controller-projects.action-index h6.section,
.controller-sections.action-index h6.section {
    font-size: 12pt;
}
